<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyicn.dao.cycle.ActivesQuestMapper">

	<!-- 添加问题查房安排 -->
	<insert id="addActivesQuest" parameterType="com.youyicn.entity.cycle.ActivesQuest" >
		insert into cycle_actives_quest
		(activesId,    questTxt,   des ) 
			values	
		(#{activesId},#{questTxt},#{des})
	</insert>
	
	<select id="getActivesQuestByActivesId" parameterType="Integer" resultType="com.youyicn.entity.cycle.ActivesQuest">
		select * from cycle_actives_quest where 1=1 
		<if test="activesId!=null">
			and activesId=#{activesId} 
		</if>
	</select>
	
	<delete id="delActivesQuestByActivesId"  parameterType="Integer" >
			delete from cycle_actives_quest	where activesId = #{activesId} 
	</delete>
	
	<update id="updateQuest" parameterType="com.youyicn.entity.cycle.ActivesQuest">
		update cycle_actives_quest set questTxt = #{questTxt} where  questId=#{questId} 
		
	</update>
	
	<!-- 基本上算是测试类，用来进行测试 -->
	<select id="getQuestById" parameterType="com.youyicn.entity.cycle.ActivesQuest" resultType="com.youyicn.entity.cycle.ActivesQuest">
		select * from cycle_actives_quest where  questId=#{questId} 
	</select>
	
</mapper>