<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyicn.dao.cycle.CyclePointRuleMapper">
<resultMap id="BaseResultMap" type="com.youyicn.entity.cycle.CyclePointRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="active_status" property="activeStatus" jdbcType="INTEGER" />
    <result column="each_score" property="eachScore" jdbcType="INTEGER" />
    <result column="active_name" property="activeName" jdbcType="VARCHAR" />
  </resultMap>
 
	
	<update id="updateById" parameterType="com.youyicn.entity.cycle.CyclePointRule">
		update cycle_point_rule  
		<trim prefix="set" suffixOverrides=",">
			  <if test="each_score!=null">each_score=#{each_score}</if>
		 </trim>
		where id =#{id} 
	</update>
	
	<select id="findAll"  resultType="com.youyicn.entity.cycle.CyclePointRule">
		select * from cycle_point_rule
	</select>
	
	
	
</mapper>