<#import "../decorators/uri.ftl" as uri /> 
<#import "../decorators/util.ftl" as util /> 
<style>
.table_td td {
	padding-left: 3px;
}
</style>
<div>
	<table class="table table-bordered table-hover">
		<tr class="table_title">
			<td width="5%">用户Id</td>
			<td width="5%">用户名</td>
			<td width="5%">身份证号</td>
			<td width="10%">电话</td>
			<td width="10%">手机</td>
			<td width="20%">毕业院校</td>
			<td width="10%">操作</td>
		</tr>
		
		<tr class="table_td">
	<!-- 		<td>${user.id}</td>
			<td>${user.realName}</td>
			<td>${user.cardId}</td>			
			<td>${user.telPhone}</td>
			<td>${user.cellPhone}</td>
			<td>${user.gradSchool}</td>
			<td>
	 -->
	<!-- 		<a href="<@spring.url '/manageUserController/findUser.htm?userId=" + ${user.id} + "'>" > <img src="${uri.imgsite}/xiugai.png" title="修改"/>&nbsp;</a>
		 -->
		  </td>
		</tr>
	</table>
</div>

<div style="display: none;">
</div>

<script type="text/javascript">
</script>

