<#import "../decorators/uri.ftl" as uri />
<#import "../decorators/util.ftl" as util />
<#import "../decorators/spring.ftl" as spring />
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />	
<#include "../decorators/headtitle.ftl" >
</head>
<body style="margin:20px;">

<ul class="nav nav-tabs">
	<li class="dropdown active">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			 菜单 <span class="caret"></span>
		</a>		
		<ul class="dropdown-menu">
			<li>
				<a href="javascript:void(0);" onclick="changeTeachering()">教学</a>
			</li>
			<li>
				<a href="javascript:void(0);">考评</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="javascript:void(0);" onclick="changeTop('test')">考试</a>
			</li>
		</ul>
		
	</li>
	<li><a>教学</a></li>
	
	<li style ="float:right;"><a href="<@spring.url '/wap/loginout.htm'/>">退出</a></li>
	<li style ="float:right;"><a >${loginName!}</a></li>
</ul>
	<table class="table ">
	  <tbody>
		  <tr>
		<td>
        <a href="<@spring.url '/activesCont/index.htm?li=li54&div=div_5&menuOrder=5&type=s'/>" class="btn btn-info " >
          <span class="glyphicon glyphicon-circle-arrow-right"></span>  出科汇总
        </a>
		</td>
		<td>
		
        <a href="<@spring.url '/activesCont/index.htm?li=li56&div=div_5&menuOrder=5&type=s'/>" class="btn btn-info ">
          <span class="glyphicon glyphicon-object-align-right"></span>  出科互评
        </a>
		</td>
		<td>
		
        <a href="<@spring.url '/activesCont/index.htm?li=li57&div=div_5&menuOrder=5&type=s'/>" class="btn btn-info ">
          <span class="glyphicon glyphicon-pushpin"></span>  MINI-CEX
        </a>
        </td>
		
		</tr>
		<tr>

		<td>
        <a href="<@spring.url '/activesCont/index.htm?li=li58&div=div_5&menuOrder=5&type=s'/>" class="btn btn-info ">
          <span class="glyphicon glyphicon-saved"></span>  DOPS
        </a>
		</td>
		<td>
		
        <a href="<@spring.url '/activesCont/index.htm?li=li59&div=div_5&menuOrder=5&type=s'/>" class="btn btn-info ">
          <span class="glyphicon glyphicon-scissors"></span>  SOAP
        </a>
		</td>
		<td>
		
		</td>
		
		</tr>
		
	  </tbody>
	</table>

<!---->
<ul class="nav nav-tabs">
   <li style="float: right;"  class="disabled"><a href="#" >
		<#if status ?? && status ==4>
			出科汇总
		<#elseif status?? && status ==5  >
			出科互评
		<#elseif status?? && status ==6  >
			SOAP
		<#elseif status?? && status ==7  >
			DOPS
		<#elseif status?? && status ==8  >
			MINI-CEX
		</#if>	
		</a>
	</li>
  
</ul>

<div class="panel-group" id="accordion">
		<#if page.list ?? && page.list ?size gt 0>
			<#list page.list  as judgeT2s>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#col${judgeT2s.id}">
							${judgeT2s.roomName!}
						</a>
					</h4>
				</div>
				<div id="col${judgeT2s.id}" class="panel-collapse collapse">
					<div class="panel-body">
								考评老师：${judgeT2s.teacherName!}<br/>
								学生名字：${judgeT2s.userName!}<br/>
								老师评价：<#if  judgeT2s.isOver?? && judgeT2s.isOver==1>
										<button type="button" class="btn btn-primary btn-xs"  onclick="pop_userinfo(event,'<@spring.url '/judgeController/show.htm?id=${judgeT2s.id!}'/>')">老师评价</button>
									<#else>
										<#if type?? && type=="r" >
											<a href="<@spring.url '/judgeController/edit.htm?id=${judgeT2s.id!}&li=${li!}&div=${div!}&menuOrder=${menuOrder!}&type=r'/>">	
												<button type="button" class="btn btn-danger btn-xs">添加考评</button>
											</a>
										<#else>
											未评价
										</#if>	
									</#if>
								<br/>
								学生评价：<#if judgeT2s.selfStatus?? && judgeT2s.selfStatus==1>
										<button type="button" class="btn btn-primary btn-xs"  onclick="pop_userinfo(event,'<@spring.url '/selfSum/show.htm?id=${judgeT2s.activesId!}&loginName=${judgeT2s.loginName!}'/>')">学生评价</button>
									<#else>
										<#if type== "s">
											<button type="button" class="btn btn-danger btn-xs"  onclick="pop_userinfo(event,'<@spring.url '/selfSum/add.htm?id=${judgeT2s.activesId}&judgeT2sId=${judgeT2s.id}'/>')">添加评价</button>
										<#else>
											未添加
										</#if>
									</#if>
								<br/>
								
								创建时间：<#if judgeT2s.createTime ?? >
										${judgeT2s.createTime[0..10]}
									</#if>
								<br/>
						</div>
					</div>
				</div>
			</#list>
		<#include "../decorators/page.htm" />
		<#else>
			没有符合条件的结果
	</#if>
</div>
<script>
function changeTeachering(){
	url ="<@spring.url '/activesCont/index.htm'/>";
	window.location =url;
}


function changeTop(top){
	url ="<@spring.url '/index/wap_index.htm?top=" + top+ "'/>";
	window.location =url;
}

</script>
</body>
</html>