<#import "../decorators/uri.ftl" as uri /> <#import "../decorators/util.ftl" as
util /> <#import "../decorators/spring.ftl" as spring />
<!DOCTYPE html>
<html>
<head>
    <#include "../decorators/headtitle.ftl" >
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<!-- 这个事相对于专业基地来说的，主要是为了专业基地修改来用的，还要做一个针对其他通用的查询 -->
<body>
<#include "../decorators/left1.ftl" >
<div class="main_right" id="right">
    <div class="right_con">
        <div class="main_search">
            <form id="searchform">
                <div style="border: 0px solid silver;height: 30px;padding-top: 3px;">
                    <input type="hidden" name="li" value="${li!}"/>
                    <input type="hidden" name="div" value="${div!}"/>

                    <input type="hidden" name="status" value="${status!}"/>
                    <input type="hidden" name="type" value="${type!}"/>
                    <input type="hidden" name="pageIndex" value="${pageIndex!'1'}"/>

                    <button type="button" class="btn btn-danger btn-sm" style="float:right;margin-right: 10px"
                            onclick="addScoreModel()">添 加
                    </button>
                </div>
            </form>
        </div>
        <!-- 显示数据的div -->
        <div id="dataDiv">
            <div class="main_right" id="right">
                <table id="tb" class="table table-hover table-bordered">
                    <tr class="table_title">
                        <td width="5%">序号</td>
                        <td width="30%">模板名称</td>
                        <td width="20%">备注</td>
                        <td width="10%">操作</td>
                    </tr>
                    <#if page.list ?? && page.list ?size gt 0>
                    <#list page.list as scoreModel>
                    <tr class="table_td">
                        <td style="text-align: center;">${scoreModel_index+1}</td>
                        <td>${scoreModel.modelName!}</td>
                        <td>${scoreModel.remark!}</td>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-danger btn-sm" onclick="queryList()">修 改</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="queryList()"
                                    style="margin-left: 5px;">删 除
                            </button>
                        </td>
                    </tr>
                </#list>
                <#else>
                <tr class="table_td">
                    <td colspan="12" align="center">没有符合条件的结果。</td>
                </tr>
            </#if>
            </table>
            <#include "../decorators/page.htm" />
        </div>
    </div>
</div>


<!--弹框内容-->
<div id="addDialog" title="创建新用户">
        <span style="color: red">*</span>注：评分模板名称及评分项为必填项。
            <span class="validateTips" style="color: red;text-align: center">
            </span>
        </span>

    <form id="addScoreModel_form" method="post">
        <fieldset>
            <div class="input-group">
                <span class="input-group-addon">评分模板名称</span>
                <input type="text" name="modelName" id="modelName" class="form-control" placeholder="请输入评分模板名称！">
            </div>
            <div class="input-group">
                <div style="display: table-cell;padding: 0;width: 90%;" class="scoreitem">
                    <div>
                        <span style="padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;">评分项：</span>
                        <input type="text" name="itemName0" id="itemName" class="form-control" placeholder="请输入评分模板名称！" style="display: inline-block;width: 56%;float:none;">
                        <span style="padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;">总分数：</span>
                        <input type="text" name="itemScore0" id="itemScore" class="form-control" placeholder="总分数！" style="display: inline-block;width: 9%;float:none;" value="100"><span> 分</span>
                    </div>
                </div>
                <div style="display: table-cell;width: 400px;text-align: right;">
                    <button type="button" class="btn btn-danger btn-sm addscore" style=";margin-right: 10px;" onclick="">添加评分项</button>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">备注</span>
                <input type="text" name="remark" id="remark" class="form-control" placeholder="请输入评分模板名称！">
            </div>
        </fieldset>
    </form>
</div>

<script>
    /*添加评分项条目*/
    var num = 1;
    $(".addscore").click(function(){
        $(".scoreitem").append('<div>\n' +
            '                        <span style="padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;">评分项：</span>\n' +
            '                        <input type="text" name="itemName" id="itemName'+num+'" class="form-control" placeholder="请输入评分模板名称！" style="display: inline-block;width: 56%;float:none;">\n' +
            '                        <span style="padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;">总分数：</span>\n' +
            '                        <input type="text" name="itemScore" id="itemScore'+num+'" class="form-control" placeholder="总分数！" style="display: inline-block;width: 9%;float:none;" value="100"><span> 分</span>\n' +
            '                    </div>');
        num =  ++num;
    })


    // url="<@spring.url '/arrTurn/outexcel.htm?grade=${grade!}&baseName=${baseName!}'/>";
    $("#exit").click(function () {
        var grades = document.getElementsByName("grade");
        var grade;
        for (i in grades) {
            if (grades[i].checked) {
                grade = grades[i].value;
            }
        }
        if (grade == null || grade == "" || grade == undefined) {
            alert("请选择年级！");
        }
        var baseName = document.getElementById("baseName").value;
        if (baseName == "" || baseName == null) {
            alert("请选择基地！");
        }
        var urlPath = "<@spring.url '/arrTurn/outexcel.htm?grade=" + grade + "&baseName=" + baseName + "'/>";
        $('#form1').attr('action', urlPath).submit();

    });

    //触发添加模板对话框
    function addScoreModel() {
        add.dialog("open");
    }

    //修改验证信息
    var errorMessage = [];
    function updateTips( t ) {
        t = "<p style=\"color:red;\">"+t+"</p>";
        errorMessage.push(t);
    }

    //校验参数
    function checkParam(flog,o,Name) {
        var sta = true;
        var slength = o.length;
        if (o == null || slength < 1) {
            updateTips(Name + "不能为空！");
            sta = false;
        }
        if(flog) {
            flog = sta;
        }
        return flog;
    }

    /*定义添加评分模板dialog*/
    var add = $("#addDialog").dialog({
        title: "添加评分模板",
        destroy: false,
        autoOpen: false,
        height: 610,
        width: 950,
        modal: true,
        buttons: {
            "提交": function () {
                var flog = true;

                var itemScore = $( "#itemScore" ).val().trim();
                var modelName = $( "#modelName" ).val().trim();
                var itemName = $( "#itemName" ).val().trim();
                   // allFields = $( [] ).add( name ).add( password ),
                    tips = $( ".validateTips" );

                flog = checkParam(flog,modelName,"评分模板名称");
                flog = checkParam(flog,itemName,"评分项名称");
                flog = checkParam(flog,itemScore,"评分项总分数");

                if(!flog){
                    tips.html(errorMessage);
                    errorMessage=[];
                }else{
                    var itemNameEles = [];
                    var itemScoreEles = [];
                    var param = {};
                    var itemNamePra = "";
                    var itemScorePra = "";
                    var modelName = $("#modelName").val();
                    $("#scoreitem div").each(function(){
                        itemNamePra =  $(this).find("#itemName").val().trim();
                        itemScorePra = $(this).find("#scoreitem").val().trim();
                        itemNameEles.push(itemNamePra);
                        itemScoreEles.push(itemScorePra);
                    });
                    var remark = $("#remark").val();

                    param.remark = remark;
                    param.modelName = modelName;
                    param.itemNames = itemNameEles;
                    param.itemScores = itemScoreEles;
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: "<@spring.url '/overallScore/addScoreModel.htm'/>",
                        data: param,
                    }).done(function(data){
                        alert(data.requestMessage);
                        window.location.href = "<@spring.url '/overallScore/addScoreModel.htm'/>";
                    });
                    $(this).dialog("close");
                }
            },
            "取消": function () {
                $(this).dialog("close");
            }
        }
    });


    function queryUser() {
        var url = "<@spring.url '/singleArrTurnCont/index.htm'/>";
        $("#searchform5").attr("action", url).submit();
    }

    function showArrTurn(id) {
        var url = '<@spring.url "/singleArrTurnCont/detail.htm?li=${li!}&div=${div!}&baseName=${baseNamed!}&realName=${userNamed!}&grade=${grade!}&type=${type!}&menuOrder=${menuOrder!}&loginName=' + id + '"/>';
        showView(id, url);
    }

    function targetPage(pageIndex) {
        window.location = '<@spring.url "/singleArrTurnCont/index.htm?li=${li!}&type=${type!}&baseName=${baseName!}&grade=${grade!}&div=${div!}&menuOrder=${menuOrder!}&searchEnd=${searchEnd!}&searchStart=${searchStart!}&teachernum=${teachernum!}&pageIndex=' + pageIndex + '"/>';
    }

    function editArrTurn() {
        var param = null;
        var postmethod = "POST";
        var param = $("#addform3").serialize();
        var url = "<@spring.url '/arrTurnOneController/arrturnRuleSum.htm'/>";
        $.ajax({
            type: postmethod,
            cache: false,
            url: url,
            data: param,
            success: function (data) {
                if (data == 'true') {
                    alert("修改完成");
                } else if (data == 'false') {
                    alert("修改失败");
                    return;
                }
            },
            error: function (xhr, err) {
                window.location.href = url;
            }
        });
    }
</script>
</body>
</html>