<#import "../decorators/uri.ftl" as uri />
<#import "../decorators/util.ftl" as util />
<#import "../decorators/spring.ftl" as spring />
<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="${uri.csssite}/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
<script src="${uri.jssite}/jquery.js" type="text/javascript" ></script>
<link href="${uri.csssite}/jquery.loadmask.css" rel="stylesheet" type="text/css" />
<script src="${uri.jssite}/js02.js" type="text/javascript" ></script>
<script src="${uri.jssite}/base.js" type="text/javascript" ></script>
<script src="${uri.jssite}/js05.js" type="text/javascript" ></script>
<script src="${uri.jssite}/common.js" type="text/javascript" ></script>
<script src="${uri.jssite}/ckeditor/ckeditor.js" type="text/javascript" ></script>
<script src="${uri.jssite}/jquery.loadmask.js" type="text/javascript" ></script>
<script src="${uri.jssite}/jquery.loadmask.min.js" type="text/javascript" ></script>
<script src="${uri.jssite}/My97DatePicker/WdatePicker.js" type="text/javascript" ></script>
<script src="${uri.jssite}/jquery.validationEngine-cn.js" type="text/javascript"></script>
<script src="${uri.jssite}/jquery.validationEngine.js" type="text/javascript"></script>
</head>
<body>
<!--right-->
<#include "../decorators/left1.ftl" ><div class="main_right" id="right">
	<div class="right_con">
		<div class="main_search">
			<form id="searchform">
				<div style="border: 0px solid silver;height: 30px;padding-top: 3px;">
					开始时间：
						<input id="searchStart" type="text" name="searchStart" />
							<img onclick="WdatePicker({el:'searchStart',dateFmt:'yyyy-MM-dd'})" 
									src="${uri.jssite}/My97DatePicker/skin/datePicker.gif" width="16" height="22" align="absmiddle">	
									
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; 	
					结束时间：
						<input id="searchEnd" type="text" name="searchEnd" />
							<img onclick="WdatePicker({el:'searchEnd',dateFmt:'yyyy-MM-dd'})" 
									src="${uri.jssite}/My97DatePicker/skin/datePicker.gif" width="16" height="22" align="absmiddle">	
					&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="hidden" name="li" value="${li!}"/>
						<input type="hidden" name="div" value="${div!}"/>
						
						<input type="hidden" name="status" value="${status!}"/>
						<input type="hidden" name="type" value="${type!}"/>
						<input type="hidden" name="pageIndex" value="${pageIndex!'1'}"/>
						<button type="button" class="btn btn-danger btn-sm" onclick="queryList()" >搜 索</button>
						<span style="float: right;">
						</span>
				</div>
			</form>
		</div>
		<!-- 显示数据的div -->
		<div id="dataDiv">
		
<div style="border: 1px solid #ccc ;margin-top: 10px;" >
	<div class="main_right" id="right">
	<table id="tb" class="table table-hover table-bordered" > 
			<tr class="table_title">
				<td width="8%">科室</td>
				<td width="8%">责任老师</td>
				<td width="7%">开始时间</td>
				<td width="4%">时长</td>
				<td width="25%">学生</td>
				<td width="7%">创建时间</td>
			</tr>
			<#if page.list ?? && page.list ?size gt 0>
			<#list page.list  as cheRoom>
				<tr class="table_td">
					<td>${cheRoom.roomName!}</td>
					<td>${cheRoom.teacherName!}</td>
					<td>${cheRoom.startTime!}</td>
					<td>${cheRoom.takeTime!}</td>
					<td>${cheRoom.ext01!}</td>
					<td>${cheRoom.createTime[0..10]}</td>
				</tr>
			</#list>
			<#else>
	  			<tr class="table_td"><td colspan="12" align="center">没有符合条件的结果。</td></tr>
			</#if>
		</table>
	</div>
</div>
<div style="display: none;">
        	<a id="addSuccessed" href="#" onclick="showMessageDialog(event,'新建成功','<@spring.url '/activesCont/index.htm?li=li316&div=div_3&menuOrder=0'/>','closeWindow();');" ></a>
        	<a id="addFailed" href="#" onclick="showMessageDialog(event,'新建失败','','');" ></a>
 </div>
		</div>
	</div>
</div>
<!--right end-->

<script type="text/javascript">
function queryList(){
	var url ="<@spring.url '/outexam/list.htm?targetID=dataDiv&formID=searchform'/>";
	ajaxFormRequest("{url:'"+url+"',id:'dataDiv',form:'searchform'}");
}	
	
function AddCheRoom(){
	var url ="<@spring.url '/outexam/add.htm'/>";
	ajaxFormRequest("{url:'"+url+"',id:'dataDiv',form:'searchform'}");
}

function toDetailView(id, num){
	var url ="<@spring.url '/cancelTicketController/cancelTicketDetail.htm?auditId=" + num + "'/>";
	showView(id, url);
}

function targetPage(pageIndex){
	window.location = '<@spring.url "/activesCont/index.htm?li=${li!}&div=${div!}&menuOrder=0&teachernum=${teachernum!}&searchEnd=${searchEnd!}&searchStart=${searchStart!}&pageIndex='+pageIndex+'"/>';
}

function cheFile(id){
	var url ="<@spring.url '/file/filelist.htm?paramPath=" + id + "'/>";
	ajaxFormRequest("{url:'"+url+"',id:'dataDiv',form:'searchform'}");
}

</script> 
</body>
</html>