<#import "../decorators/spring.ftl" as spring />
<#import "../decorators/uri.ftl" as uri />
<#import "../decorators/util.ftl" as util />
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html >
<head><#include "../decorators/headtitle.ftl" >
</head>
<body>
<!--right-->
<#include "../decorators/left1.ftl" ><div class="main_right" id="right">
	
	<div class="rig_tab">
		<div class="rig_tab2">
			<form id="addform" name="form1">
				<table class="tab_infor" >
					<tr>
						<td>考官姓名:&nbsp;&nbsp;<input type="text" name="kgName" id="kgName" />&nbsp;&nbsp;&nbsp;&nbsp;工号:&nbsp;&nbsp;<input type="text" name="kgNum" id="kgNum" />&nbsp;</td>
					</tr>
					<tr>
						<td>日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:&nbsp;&nbsp;<input type="text" name="gradeDate" id="gradeDate" readonly /><img onclick="WdatePicker({el:'gradeDate',dateFmt:'yyyy-MM-dd'})" 
						src="${uri.jssite}/My97DatePicker/skin/datePicker.gif" width="16" height="22" align="absmiddle">&nbsp;&nbsp;&nbsp;&nbsp;
						时间段:&nbsp;&nbsp;<input name="gradeTime" type="radio" value="1" id="gradeTime1"   />上午  &nbsp;&nbsp;
					    				<input name="gradeTime" type="radio" value="2" id="gradeTime2"  />下午 &nbsp;&nbsp;
					    				<input name="gradeTime" type="radio" value="3" id="gradeTime3"  />晚上 &nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>考生姓名:&nbsp;&nbsp;<input type="text" name="ksName" id="ksName"  />&nbsp;&nbsp;&nbsp;&nbsp;学号/工号:&nbsp;&nbsp;<input type="text" name="ksNum" id="ksNum" />&nbsp;</td>
					</tr>
					<tr>
						<td>考生身份:&nbsp;&nbsp;<input name="ksIdentity" id="ksIdentity1" type="radio" value="1"  />见习&nbsp;&nbsp;
							     <input name="ksIdentity" type="radio" id="ksIdentity2" value="2" />实习&nbsp;&nbsp;
							     <input name="ksIdentity" type="radio" id="ksIdentity3" value="3" />第一年住院医 &nbsp;&nbsp;
							     <input name="ksIdentity" type="radio" id="ksIdentity4" value="4" />第二年住院医&nbsp;&nbsp;
							     <input name="ksIdentity" type="radio" id="ksIdentity5" value="5" />住院总&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>考核地点:&nbsp;&nbsp;<input name="khaddress" type="radio" value="1" id="khaddress1"  />门诊&nbsp;&nbsp;
							     <input name="khaddress" type="radio" value="2" id="khaddress2" />急诊&nbsp;&nbsp;
							     <input name="khaddress" type="radio" value="3" id="khaddress3" />住院 &nbsp;&nbsp;
							     <input name="khaddress" type="radio" value="4" id="khaddress4"  />其他&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>考核目的:&nbsp;&nbsp;<input name="khmudi" type="radio" value="1" />资料收集&nbsp;&nbsp;
							     <input name="khmudi" type="radio" value="2"/>诊断&nbsp;&nbsp;
							     <input name="khmudi" type="radio" value="3"/>治疗&nbsp;&nbsp;
							     <input name="khmudi" type="radio" value="4"/>病情资讯建议&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td><hr/></td>
					</tr>
					<tr>
						<td>病历号:&nbsp;&nbsp;<input type="text" name="blh" id="blh"  style="width:100px;"/>&nbsp;&nbsp;
							年龄:&nbsp;&nbsp;<input type="text" name="bage" id="bage" style="width:100px;"/>&nbsp;&nbsp;
							性别:&nbsp;&nbsp;<input type="text" name="bsex" id="bsex" style="width:100px;"/>&nbsp;&nbsp;
							病房:&nbsp;&nbsp;<input type="text" name="bfh" id="bfh" style="width:100px;"/>&nbsp;&nbsp;
							床号:&nbsp;&nbsp;<input type="text" name="bch" id="bch" style="width:100px;"/>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>病人属于:&nbsp;&nbsp;<input name="isFirst" type="radio" value="1" />第一次接触&nbsp;&nbsp;
							     <input name="isFirst" type="radio" value="2"/>非第一次接触&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>病例复杂程度:&nbsp;&nbsp;<input name="complexDegree" type="radio" value="1" />低&nbsp;&nbsp;
							     <input name="complexDegree" type="radio" value="2"/>中&nbsp;&nbsp;
							     <input name="complexDegree" type="radio" value="3"/>高&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>病人配合程度:&nbsp;&nbsp;<input name="coordination" type="radio" value="1" />差&nbsp;&nbsp;
							     <input name="coordination" type="radio" value="2"/>中&nbsp;&nbsp;
							     <input name="coordination" type="radio" value="3"/>好&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td><hr/></td>
					</tr>
					<tr>
						<td>
								<input name="internship" type="radio" value="1" />见习&nbsp;&nbsp;
							    <input name="internship" type="radio" value="2"/>实习&nbsp;&nbsp;
							    <input name="internship" type="radio" value="3"/>住院&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>1、医院面谈技巧:&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="mtjq" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目1:&nbsp;&nbsp;
								<input name="f1" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f1" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f1" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>2、体格检查技巧:&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="tgjc" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目2:&nbsp;&nbsp;
								<input name="f2" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f2" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f2" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>3、人道关怀/专业素养:&nbsp;&nbsp;
								<input name="zysy" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="zysy" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="zysy" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="zysy" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="zysy" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="zysy" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="zysy" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="zysy" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="zysy" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目3:&nbsp;&nbsp;
								<input name="f3" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f3" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f3" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>4、临床判断能力:&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="lcpd" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目4:&nbsp;&nbsp;
								<input name="f4" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f4" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f4" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>5、资讯建议/交流沟通技巧:&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="zxjy" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目5:&nbsp;&nbsp;
								<input name="f5" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f5" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f5" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>6、组织能力和效率:&nbsp;&nbsp;
								<input name="zznl" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="zznl" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="zznl" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="zznl" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="zznl" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="zznl" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="zznl" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="zznl" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="zznl" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目6:&nbsp;&nbsp;
								<input name="f6" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f6" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f6" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>7、总体临床能力:&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="ztlc" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>非观察项目7:&nbsp;&nbsp;
								<input name="f7" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="f7" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="f7" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>Mini-CEX时间</td>
					</tr>
					<tr>
						<td>观察时间:&nbsp;&nbsp;<input style="width:50px;" type="text" name="gcTime" id="gcTime"/>分钟&nbsp;&nbsp;&nbsp;&nbsp;回馈时间:&nbsp;&nbsp;<input style="width:50px;" type="text" name="hkTime" id="hkTime"/>分钟&nbsp;</td>
					</tr>
					<tr>
						<td>考官对于此次Mini-CEX的满意度:&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="kgmy" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>考官对于此次Mini-CEX的满意度:&nbsp;&nbsp;
								<input name="k1" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="k1" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="k1" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>考生对于此次Mini-CEX的满意度:&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="1" />1&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="2" />2&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="3" />3&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="4" />4&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="5" />5&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="6" />6&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="7" />7&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="8" />8&nbsp;&nbsp;
								<input name="ksmy" type="radio" value="9" />9&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td>考生对于此次Mini-CEX的满意度:&nbsp;&nbsp;
								<input name="k2" type="radio" value="1" />不满意&nbsp;&nbsp;
								<input name="k2" type="radio" value="2" />满意&nbsp;&nbsp;
								<input name="k2" type="radio" value="3" />非常出色&nbsp;&nbsp;
						</td>
					</tr>
					<tr><td><hr/><td></td></tr>
					<tr><td>考官对于考生的主要反馈要点:</td>	</tr>
					<tr>											
						<td align="left"><textarea name="fkyd" cols="50" rows="5"></textarea></td>
					</tr>
					<tr><td>完成较好部分:</td></tr>
					<tr>												
						<td align="left"><textarea name="wcjh" cols="50" rows="5"></textarea></td>
					</tr>
					<tr><td>可以改进部分:</td></tr>
					<tr>												
						<td align="left"><textarea name="kygj" cols="50" rows="5"></textarea></td>
					</tr>
					<tr><td>不足部分:</td></tr>
					<tr>												
						<td align="left"><textarea name="bzbf" cols="50" rows="5"></textarea></td>
					</tr>
					<tr><td>总体印象:</td></tr>
					<tr>										
						<td align="left"><textarea name="ztyx" cols="50" rows="5"></textarea></td>
					</tr> 
					<tr>
	               	 	<td>
		               	 <button  type="button" onclick="addRole()" class="btn">添加</button>
	               	 	</td>
					</tr> 
				</table>
			</form>
		</div>
	</div>

</div>


<script>
function addRole(){
	var url = "<@spring.url '/gradeController/addGrade.htm'/>";
	$("#addform").attr("action",url).submit();
}
	
</script>
</body>
</html>
