<#import "../decorators/uri.ftl" as uri />
<#import "../decorators/util.ftl" as util />
<#import "../decorators/spring.ftl" as spring />
<html >
<head>
<#include "../decorators/headtitle.ftl" >
</head>
<body>
<!--right-->

<#include "../decorators/left1.ftl" >
<div class="main_right" id="right">

	<div class="right_con">
	
			<div class="main_search">
				<form id="searchform" style="height: 30px;">
					考生姓名 <input name="ksName" type="text" id="ksName" maxlength="18"/> &nbsp; 
					考生工号 <input name="ksNum" type="text"  size="14" id="ksNum"  />&nbsp; 
					考核时间<input type="text" name="gradeDate" id="gradeDate"/><img onclick="WdatePicker({el:'gradeDate',dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})" 
						src="${uri.jssite}/My97DatePicker/skin/datePicker.gif" width="16" height="22" align="absmiddle">
						<input  type="button" value="搜 索" class="look_02" onclick="querySerchList();"/>
				<span style="float: right;"><a href="<@spring.url "/gradeController/add_grade.htm?li=li912&div=div_9&menuOrder=0"/>"><img src="${uri.imgsite}/xiugai.png" title="添加角色"/>Mini-CEX考评</a> </span>
				</form>
			</div>

		<div>
     	<table class="table table-bordered table-hover">
     	  <tr class="table_title">
     	   	<td width="15%">考生姓名</td>
	        <td width="15%">考生工号</td>
	        <td width="15%">考官姓名</td>
	        <td width="15%" >考官工号</td>
	        <td width="35%" >操作</td>
   	      </tr>
	       	<#if page.list?? && page.list?size gt 0>
  			<#list page.list as cex>
    		<tr class="table_td">
	       	    <td>${cex.ksName!}</td>
	       	    <td>${cex.ksNum!}</td>
	       	    <td>${cex.kgName!}</td> 
	       	    <td>${cex.kgNum!}</td>  
	       	    <td>	       
	       	    	<a href="<@spring.url '/gradeController/cexview.htm?id=${cex.id}&li=li912&div=div_9&menuOrder=0'/>"><img src="${uri.imgsite}/chakan.png" title="查看" />&nbsp;</a> 	
       	    	<#if type ?? && type =="r">	
       	    		<a href="<@spring.url '/gradeController/toupdatecex.htm?id=${cex.id}&li=li912&div=div_9&menuOrder=0'/>"><img src="${uri.imgsite}/xiugai.png" title="修改"/>&nbsp;</a>  
       	    		<a href="#" onclick="showConfirmDialog(event,'你确定要删除该Mini-CEX信息吗？','javaScript:closeWindow()','delCex(|${cex.id}|);');"><img src="${uri.imgsite}/shanchu.png" title="删除" />&nbsp;</a>   	    	
	       	    </#if>
	       	    </td>
     	    </tr>
     	    <tr class="contentTr">
      	    	<td colspan="6" ><div id="${cex.id}" class="showViewStyle"></div></td>
   	 		</tr>
  			</#list>
  		<#else>
  			<tr class="table_td"><td colspan="6" align="center">没有符合条件的结果。</td></tr>
     	</#if>
     	 
   	  </table>
   	  <#include "../decorators/page.htm" />
</div>
 <div style="display: none;">
 	<a id="delSuccessed" href="#" onclick="showMessageDialog(event,'cex删除成功！','javaScript:queryRoleList();','closeWindow();');" ></a>
 	<a id="delFailed" href="#" onclick="showMessageDialog(event,'cex删除失败！','','');" ></a>
 </div>
 </div>
</div>      
  <script type="text/javascript">		
			function delCex(cexId){
				var param = null;
				var postmethod = "get";
				var url ="<@spring.url '/gradeController/delcex.htm?id="+cexId+"'/>";
				$.ajax({
					   type: postmethod,
					   cache: false,
					   url: url,
					   data : param,
					   success: function(data){
						if(data == 'true'){
							tip(1,true);
							return;
						}
						if(data == 'false'){
							tip(1,false);
							return;
						}
						showMessageDialog(null,data,'','');
					   },
					   error:function(xhr,err){ 
					}
				});
			}


			function tip(type,bool){
				if(type == 1){
					if(bool){
						document.getElementById("delSuccessed").click();
						return;
					}
					document.getElementById("delFailed").click();
				}
			}
			
			function queryRoleList(){
				window.location = "<@spring.url '/gradeController/list.htm?li=li912&div=div_9&menuOrder=0'/>";
			}
			
		   function targetPage(pageIndex){
				var ksName = $("#ksName").val();
				var ksNum = $("#ksNum").val();
				var gradeDate = $("#gradeDate").val();				
				window.location = '<@spring.url "/gradeController/list.htm?li=li912&div=div_9&menuOrder=0&pageIndex='+pageIndex+'&ksName='+ksName+'&ksNum='+ksNum+'&gradeDate='+gradeDate+'"/>';
			}
		   
		   function querySerchList(){
					var ksName = $("#ksName").val();
					var ksNum = $("#ksNum").val();
					var gradeDate = $("#gradeDate").val();
					window.location = '<@spring.url "/gradeController/list.htm?li=li912&div=div_9&menuOrder=0&ksName='+ksName+'&ksNum='+ksNum+'&gradeDate='+gradeDate+'"/>';
			}

       </script>
       
    
  
  <!--right end-->
  
