<#import "../decorators/uri.ftl" as uri />
<#import "../decorators/util.ftl" as util />
<#import "../decorators/spring.ftl" as spring />
<#include "../decorators/left1.ftl" ><div class="main_right" id="right">
	
 <div class="right_em_con">
	<div style="margin-top: 10px">
	<form id="inLearnAdd" action="<@spring.url '/inLearn/sumfile.htm?targetID=dataDiv&formID=inLearnAdd'/>" 
		name="inLearnAdd" method="post" enctype="multipart/form-data" >
			<table class="table table-hover  table-bordered" >
			
	                <tr>
	                
						<td width="21%" class="td_right"><em>*</em>上传文件：</td>
						<td width="79%">
							<input type="file" name="file"  ></input>
							
						</td>
					</tr>
	            	<tr class="button_tr">
	                	<td>&nbsp;</td>
	               	 	<td>
							<button type="submit" class="btn btn-danger">提交</button>
							<input type="hidden" name ="parmdate" value="${randomNum!}" ></input>
	               	 
	               	 	</td>
					</tr>   
			</table>
	</form>
	</div>
</div></div>