这个就是弹框
<table cellpadding="0px" cellspacing="1px" class="main_table">
		<tr class="table_title">
			<!-- <td >id</td>
			<td >学生姓名</td>
			<td>指导老师</td>
			<td>科室</td> -->
			<td >创建时间</td>
			<td >缺席天数</td>
			<td >值班次数</td>
			<td >病种病历数</td>
			<td >病人数量</td>
			<td >病历书写质量</td>
			<td >操作技能种数</td>
			<td>临床思维</td>
			<td >医德</td>
			<td >教学能力</td>
			<td >参加学习次数</td>
			<td >科研情况</td>
			<td >医疗差错</td>
			<td >mini考试</td>
			<td >理论考试</td>
			<td>临床能力考试</td>
			<td >soap分数</td>
			<td >护士评价</td>
			<td >病人评价</td>
			<!-- <td >创建人</td> -->
		</tr>
		<tr class="table_td">
			<!-- <td>${sumScore.id!}</td>
			<td>${sumScore.userName!}</td>
			<td>${sumScore.teacherName!}</td>
			<td>${sumScore.roomName!}</td> -->
			<td>${sumScore.createTime!}</td>
			<td>${sumScore.absenceMount!}</td>
			<td>${sumScore.onDetyMount!}</td>
			<td>${sumScore.sickMount!}</td>
			<td>${sumScore.mngMount!}</td>
			<td>${sumScore.writeQuality!}</td>
			<td>${sumScore.operateMount!}</td>
			<td>${sumScore.thinking!}</td>
			<td>${sumScore.virtues!}</td>
			<td>${sumScore.teachAbility!}</td>
			<td>${sumScore.learnAmount!}</td>
			<td>${sumScore.science!}</td>
			<td>${sumScore.mistake!}</td>
			<td>${sumScore.mini_cex!}</td>
			<td>${sumScore.theoryExam!}</td>
			<td>${sumScore.practiceExam!}</td>
			<td>${sumScore.soap!}</td>
			<td>${sumScore.nurseDes!}</td>
			<td>${sumScore.sickDes!}</td>
			<!-- <td>${sumScore.createName!}</td> -->
			
		</tr>
	</table>