<#import "../decorators/uri.ftl" as uri />
<#import "../decorators/util.ftl" as util />
<#import "../decorators/spring.ftl" as spring />
<!DOCTYPE html>
<html >
<head>
<#include "../decorators/headtitle.ftl" >
</head>
<body>
<!--right-->
<#include "../decorators/left1.ftl" ><div class="main_right" id="right">
	<div class="right_con">
		<div class="main_search">
			<form id="searchform">
				<input type="text" value="${li!}" name="li" style="display: none"/>
				<input type="text" value="${div}" name="div" style="display: none"/>
				<input type="text" value="${type!}" name="type" style="display: none"/>
				<div style="border: 0px solid silver;height: 30px;padding-top: 3px;">
					选择年级 ：
					2014<input type="radio" value="2014" name="grade" />&nbsp;&nbsp;&nbsp;&nbsp;
					2015<input type="radio" value="2015" name="grade" />&nbsp;&nbsp;&nbsp;&nbsp;
					2016<input type="radio" value="2016" name="grade" />&nbsp;&nbsp;&nbsp;&nbsp;
					2017<input type="radio" value="2017" name="grade"/>&nbsp;&nbsp;&nbsp;&nbsp;
					2018<input type="radio" value="2018" name="grade"/>&nbsp;&nbsp;&nbsp;&nbsp;
					学生编号:<select name="loginName" > 
					<#if userList?? && userList ? size gt 0>
						<option value="">请选择</option> 
						<#list userList as user>
							<option value="${user.loginName!}"${user.realName!}</option>
						</#list> 
					</#if>
					</select>&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-danger btn-sm" onclick="queryList()" >搜 索</button>
				</div>
			</form>
		</div>
		<!-- 显示数据的div -->
		<div id="dataDiv">
		
		</div>
	</div>
</div>
<!--right end-->

<script type="text/javascript">

// 这个是进入页面就会查询；
var url = "<@spring.url '/bArrTurnController/list.htm?targetID=dataDiv&formID=searchform'/>";
	ajaxFormRequest("{url:'"+url+"',id:'dataDiv',form:'searchform'}");

function queryList(){
	var url ="<@spring.url '/bArrTurnController/list.htm?targetID=dataDiv&formID=searchform'/>";
	ajaxFormRequest("{url:'"+url+"',id:'dataDiv',form:'searchform'}");
}	
</script>

</body>
</html>