<#import "../decorators/uri.ftl" as uri /> <#import "../decorators/util.ftl" as
util /> <#import "../decorators/spring.ftl" as spring />
<!DOCTYPE html>
<html >
<head>
<#include "../decorators/headtitle.ftl" >
</head>
<body>
	<#include "../decorators/left0.ftl" >
	<div class="main_right" id="right">
		<div class="right_con">
			<div class="container">
				<div class="form-group">
					<div class="row" >
						<div class="col-md-6" style="border-right : 1px solid #aaa; ">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">基地设置</h3>
								</div>
								<div class="panel-body" >
									<form class="form-horizontal" id="addform1"  action="<@spring.url '/commonController/addBase.htm'/>" >
									<div class="form-group">
									    <label for="firstname" class="col-sm-2 control-label">基地编号</label>
									    <div class="col-sm-3">
									   		 <input type ="text" class="form-control"   name ="baseNum" />
									    </div>
									    <label for="firstname" class="col-sm-2 control-label">名字</label>
									    <div class="col-sm-3">
									   		 <input type ="text" class="form-control" name ="baseName" />
									    </div>
									    <div class="col-sm-2">
											<button type="submit" class="btn btn-danger ">提交</button>
									    </div>
									 </div>
								</form>
								</div>
								<hr/>
								<hr/>
								<table class="table table-bordered table-hover">
										<tr >
											<td>id</td>
											<td>编号</td>
											<td>基地名称</td>
											<td>操作</td>
										</tr>
										<#if baseList?? && baseList?size gt 0>
										<#list baseList as base>
										<tr class="table_td">
											<td>${base.id!}</td>
											<td>${base.baseNum!}</td>
											<td>${base.value!}</td>
											<td><button type="button" class="btn btn-info btn-xs" onclick="del('${base.id}','0')">删除</button></td>
											<td><button type="button" class="btn btn-info btn-xs" onclick="update('${base.id}','0')">修改</button></td>
										</tr>
										<tr class="contentTr">
							      	    	<td colspan="4" ><div id="${base.id!}" class="showViewStyle">
							      	    	</div></td>
							   	 		</tr>
										
										</#list>
										<#else>
								  			<tr class="table_td"><td colspan="12" align="center">没有符合条件的结果。</td></tr>
										</#if>
									</table>
							</div>									
						</div>
						<div class="col-md-6">
						
						<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">科室设置</h3>
								</div>
								<div class="panel-body">
										<form class="form-horizontal" id="addform2"  action="<@spring.url '/commonController/addRoom.htm'/>" >
											<div class="form-group">
											    <label for="firstname" class="col-sm-2 control-label">科室编号</label>
											    <div class="col-sm-3">
											   		 <input type ="text" class="form-control"   name ="roomNum" />
											    </div>
											    <label for="firstname" class="col-sm-2 control-label">名字</label>
											    <div class="col-sm-3">
											   		 <input type ="text" class="form-control" name ="roomName" />
											    </div>
											    <div class="col-sm-2">
													<button type="submit" class="btn btn-danger ">提交</button>
											    </div>
											 </div>
										</form>
								</div>
								<hr/>
								<hr/>
								<table class="table table-bordered table-hover">
										<tr >
											<td>编号</td>
											<td >科室名称</td>
											<td>操作</td>
										</tr>
										<#if roomList?? && roomList?size gt 0>
										<#list roomList as room>
										<tr class="table_td">
											<td>${room.roomNum!}</td>
											<td>${room.value!}</td>
											<td><button type="button" class="btn btn-info btn-xs" onclick="del('${room.id}','1')">删除</button></td>
											<td><button type="button" class="btn btn-info btn-xs" onclick="update('${room.id}','1')">修改</button></td>
										</tr>
										<tr class="contentTr">
							      	    	<td colspan="4" ><div id="${room.id!}" class="showViewStyle">
							      	    	</div></td>
							   	 		</tr>
										</#list>
										<#else>
								  			<tr class="table_td"><td colspan="12" align="center">没有符合条件的结果。</td></tr>
										</#if>
									</table>
							</div>	
						</div>
					</div>
				</div>
			</div>
				
				
		</div>
	</div>
	
	<script type="text/javascript">
		function del(id,type){
			var url ="<@spring.url '/commonController/del.htm?type="+type+"&id="+id+"'/>";
			window.location.href = url;
		}
		
		function update(id,type){
			var url ="<@spring.url '/commonController/update.htm?type="+type+"&id="+id+"'/>";
			showView(id,url);
		}
		
		
	</script>	
</body>
</html>